* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Kanit', sans-serif; */
    /* font-family: 'Vidaloka', serif; */
    color: #202020;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.material-icons,
.material-icons-round,
.material-icons-outlined,
.material-symbols-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/* Header */

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
}

.header-top {
    background-color: #d36228;
}

.top-area {
    padding: 6.5px 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-box {
    display: flex;
    align-items: center;
}

.rating-box i {
    color: #fff;
    font-size: 10px;
}

.top-area-left {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.top-area-left a {
    color: #fff;
    font-size: 12px;
}

.top-area-center a {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
}

.top-area-right p {
    color: #fff;
    font-size: 12px;
}

.top-area-right p a img {
    width: 22px;
    margin-left: 10px;
}

.nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

button.navbar-toggler {
    border: none;
}

.header-top-main {
    padding: 0 65px;
}

a.navbar-brand {
    color: #663419;
    font-weight: 600;
    margin: 0;
    font-size: 35px;
}

.nav-down {
    background-color: #fff;
}

.navbar {
    padding: 0;
}

.navbar-collapse {
    flex-grow: inherit;
    width: 100%;
    justify-content: space-between;
}

ul.navbar-nav {
    font-family: 'Kanit', sans-serif;
}

.nav-item {
    padding: 30px 25px;
}

ul.navbar-nav .nav-item:first-child {
    padding-left: 0;
}

.nav-link {
    padding: 0 !important;
    transition: 0.2s ease-in-out all;
    border: 1px solid transparent;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.nav-item:hover .nav-link {
    border-bottom: 1px solid #663419;
    transition: 0.5s ease-in-out all;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link,
.navbar-nav .nav-link {
    color: #663419;
    font-size: 12px;
}

.right-icons ul li {
    display: inline-flex;
    align-items: center;
}

.right-icons ul li a {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.right-icons ul li a i {
    color: #F0DFCB;
    font-size: 24px;
}

.carousel-item {
    height: 100vh;
}


/* carousel-Buttons-none */

.carousel-control-next,
.carousel-control-prev {
    display: none;
}


/* carousel-Buttons-none */


/* product-slider-wrp */

.product-slider-wrp {
    padding: 80px 0 65px 65px;
    background-color: #faf7f2;
}

.product-slider-main-image img {
    width: 100%;
}

.slider-title h3 {
    color: #663419;
    font-size: 64px;
    font-family: 'Vidaloka', serif;
    margin-bottom: 30px;
}

.slider-text {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
}

.owl-carousel-product img {
    height: 258px;
    width: 285px;
    object-fit: contain;
}

.slider-text a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    color: #202020;
}

.slider-text span {
    font-size: 14px;
    color: #202020;
}

.control-products {
    margin-bottom: 30px;
}

.control-products a {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #202020;
}

.owl-nav {
    font-size: 34px;
}

.owl-nav button span {
    color: #663419;
    margin-right: 20px;
}


/* text-slider */

section.text-slider {
    background-color: #ede7da;
    padding: 80px 0;
}

.text-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.quots-icon {
    text-align: center;
    font-size: 80px;
    font-family: "sans-serif";
    color: #663419;
}

section.text-slider .tab-pane {
    font-family: 'Vidaloka', serif;
    font-size: 48px;
    text-align: center;
    max-width: 740px;
    margin: 10px auto 0;
    line-height: 1.1;
    color: #663419;
    min-height: 158px;
}

.nav-item .nav-link {
    opacity: 0.3;
    color: #202020;
    border: none !important;
}

.nav-item .nav-link:hover {
    border: none;
}

.nav-item .nav-link.active {
    color: #202020;
    opacity: 1;
    background-color: transparent;
    text-decoration: none;
    border: none;
}


/* image-text */

.left-text-box {
    padding: 100px 85px;
}

.right-image-box {
    height: 100%;
}

.right-image-box img,
.left-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-text-box {
    background-color: #663419;
    color: #ede7da;
    height: 100%;
    padding: 100px;
}

.left-text-box h1 {
    font-family: 'Vidaloka', serif;
    color: #663419;
    font-size: 64px;
}

.right-text-box h1 {
    font-family: 'Vidaloka', serif;
    color: #ede7da;
    font-size: 64px;
    margin-bottom: 20px;
}

.right-text-box p {
    font-size: 16px;
    margin: 10px 0;
}

.left-text-box p {
    font-size: 16px;
    color: #663419;
    margin: 10px 0;
}

.left-text-box ul {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-text-box ul li i {
    color: #663419;
}

.btn-outline {
    border: 1px solid #663419;
    color: #663419;
    letter-spacing: 1.5px;
    font-size: 16px;
    background-color: transparent;
    padding: 4px 20px;
    transition: all 0.2s ease-in-out;
}

.btn-outline:hover {
    border-color: #c8946c;
    color: #fff;
    background-color: #c8946c;
}


/* footer */

.footer {
    padding: 80px 65px;
    background-color: #663419;
    color: #ede7da;
    font-size: 12px;
}

.footer-sub-text {
    margin: 10px 0;
}

.footer-contact ul li {
    display: flex;
    align-self: center;
    margin: 10px 0;
}

.footer-contact ul li span {
    display: block;
    min-width: 50px;
    font-size: 10px;
}

.footer-contact ul li p {
    font-size: 10px;
}

h6.footer-title {
    font-family: 'Vidaloka', serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #ede7da;
    margin-bottom: 10px;
    display: block;
}

.news-letter input {
    border: none;
    border-bottom: 1px solid rgba(237, 231, 218, .4);
    background-color: transparent;
    border-radius: 0;
    color: #ede7da;
    font-size: 12px;
    padding: 8px 3px;
    margin-top: 20px;
}

.news-letter input:focus {
    background-color: transparent;
    color: #ede7da;
    box-shadow: none;
}

.news-letter input::placeholder {
    color: rgba(237, 231, 218, .4);
    font-size: 12px;
}

.btn-outline.btn-outline-light {
    color: #ede7da;
    border-color: #ede7da;
}


/* all-product-page */

.all-product-page {
    margin-top: 115px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.product-title {
    position: relative;
    padding: 40px;
}

.product-title h1 {
    font-family: 'Vidaloka', serif;
    color: #202020;
    margin-bottom: 10px;
}

.product-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 1px;
    width: calc(100% - 100px);
    background-color: #c8946c;
}

.product-title p {
    max-width: 700px;
    font-size: 14px;
    margin: 0 auto;
}

.sort-by {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    padding: 0 50px;
    font-size: 12px;
}

.sort-by .dropdown button {
    border-radius: 0;
    border: 1px solid rgba(11, 51, 31, .1);
    font-size: 16px;
}

.dropdown ul li {
    font-size: 16px;
}

.product-filter-box h3 {
    font-size: 16px;
    letter-spacing: 3.2px;
    display: block;
    opacity: .3;
    margin: 0 0 24px;
    text-transform: uppercase;
    text-align: left;
}

.product-filter-box {
    margin-left: 35px;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
}

.form-check-input {
    background-color: transparent;
    border: 1px solid #202020;
    border-radius: 0;
}

.accordion-button {
    background-color: transparent !important;
}

button.accordion-button {
    color: #202020 !important;
    font-size: 14px;
}

.accordion-button::after {
    background-size: 15px;
}

button.accordion-button.collapsed:focus,
button.accordion-button:focus {
    box-shadow: none;
}

.form-check-input:checked {
    background-color: transparent;
}

.form-check-input:focus {
    box-shadow: none;
    border: 1px solid #202020;
}

.form-check-input:checked[type=checkbox] {
    filter: brightness(0);
}

.accordion-body .filter-control {
    margin-top: 10px;
}

.accordion-body .filter-control a {
    color: #202020;
    margin-left: 10px;
}

.product-image img {
    max-height: 313px;
    object-fit: cover;
    width: 100%;
}

.product-box .product-details {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.product-box .product-details .product-list-title,
.product-price {
    padding: 0;
    text-decoration: none;
    color: #202020;
    font-size: 14px;
}


/* about-page */

.about-page {
    margin-top: 115px;
    position: relative;
}

.about-text {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    font-family: 'Vidaloka', serif;
    font-size: 48px;
    color: #663419;
}

.about-details {
    margin: 100px 0;
    padding: 0 65px;
}

.about-details-left {
    padding: 50px 0;
}

.about-details-left h1 {
    font-family: 'Vidaloka', serif;
    font-size: 48px;
    margin-bottom: 20px;
    color: #663419;
}

.about-details-left p {
    font-size: 14px;
    color: #202020;
    margin-bottom: 20px;
}


/* team-members */

.meet-our-team {
    padding: 80px 65px;
    background-color: #ede7da;
}

.team-title {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 20px;
}

.team-title h1 {
    font-family: 'Vidaloka', serif;
    font-size: 48px;
    color: #663419;
}

.member-image img {
    max-width: 300px;
    object-fit: cover;
    width: 100%;
}

.team-title p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #202020;
}

.team-member-details {
    padding-top: 20px;
}

.team-member-details h6 {
    font-size: 16px;
}

.team-member-details p {
    font-size: 12px;
}

.member-image img {
    max-width: 260px;
    object-fit: cover;
}


/* product-benefits */

.product-benefits {
    padding: 25px 65px;
    background-color: #c8946c;
    color: #ede7da;
}

section.product-benefits ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

.benefits-left i {
    font-size: 20px;
    margin-bottom: 10px;
}

.benefits-right p {
    font-weight: 300;
}


/* single-product */

.single-product {
    margin-top: 115px;
    margin-bottom: 100px;
}

.single-product-top {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.single-product-top img {
    width: 48%;
}

.single-product-details {
    padding: 0 40px;
}

.single-product-title h1 {
    font-family: 'Vidaloka', serif;
    color: #202020;
    margin-bottom: 10px;
    font-size: 48px;
}

.wishlist-icon i {
    font-size: 20px;
    margin: 10px 0;
}

.wishlist-icon i {
    cursor: pointer;
}

.single-product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(32, 32, 32, .15);
    padding-bottom: 20px;
}

.product-rate {
    display: flex;
    gap: 10px;
}

.rate-box a {
    color: #F0DFCB;
}

.total-rate {
    color: #202020;
}

.single-product-text ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.single-product-text ul li span {
    display: block;
    font-weight: 600;
    min-width: 100px;
}

.single-product-text ul li {
    margin: 10px;
    display: flex;
}

.single-product-text .btn-outline {
    font-size: 18px;
}
.owl-carousel-mobile .owl-dots{
    display: flex;
    gap: 6px;
    justify-content: center;
    margin: 12px;
}
.owl-carousel-mobile button.owl-dot {display: block;width: 9px;height: 9px;border-radius: 50%;padding: 0;transition: all .35s ease;border: 1px solid currentColor !important;}
button.owl-dot.active {
    background-color: currentColor;
}

/* cart-page */

.cart-page {
    padding: 100px 65px;
}

.cart-item {
    display: flex;
    padding: 20px 25px;
    border-bottom: 1px solid #e8e8e8;
}

.cart-product-image-box {
    height: 145px;
    width: 145px;
}

.cart-item-info {
    margin-left: 20px;
    flex-grow: 1;
}

.cart-product-detail {
    display: flex;
    justify-content: space-between;
}

.cart-product-close a {
    font-size: 23px;
    color: #202020;
}

.cart-product-count-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.cart-count button {
    border: 1px solid #e8e8e8;
    padding: 5px 15px;
    color: #202020;
    background-color: transparent;
}

.cart-product-left h4 {
    margin-bottom: 5px;
    color: #202020;
}

.cart-count input {
    border: 1px solid #e8e8e8;
    padding: 5px 15px;
    color: #202020;
    background-color: transparent;
    width: 100px;
    text-align: center;
}

.cart-price p {
    font-size: 25px;
}

.cart-total-box {
    padding: 25px 25px 13px;
    margin-top: auto;
    background: #663419;
    color: #fff;
}

.cart-total-top {
    display: flex;
    justify-content: space-between;
}

.cart-total-left p,
.cart-total-right p {
    opacity: 0.5;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
}

.cart-total-left h6,
.cart-total-right h6 {
    font-family: 'Vidaloka', serif;
    font-size: 28px;
}

.place-order-button-box {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ede7da;
}

.place-order-button-box button {
    font-size: 16px;
    padding: 8px 15px;
}

.coupon-code {
    background-color: #ede7da;
    text-align: center;
    padding: 80px 25px;
}

.coupon-code h3 {
    font-family: 'Vidaloka', serif;
    color: #663419;
    margin-bottom: 15px;
}

.coupon-code input {
    border: 1px solid #663419;
    padding: 8px 10px;
    line-height: 2;
}

.coupon-code input:focus {
    outline: none;
}

.coupon-code button {
    padding: 11px 30px;
    font-size: 13px;
    line-height: 2;
}

.coupon-code-box {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


/* wishlist-page */

.wishlist-page {
    padding: 100px 65px;
}

.wishlist-page .card {
    border: none;
}

.wishlist-page .card img {
    border-radius: 0;
    object-fit: cover;
}

.wishlist-page .card .card-body {
    padding: 0;
}

.wishlist-page .card .card-body .card-title {
    margin: 15px 0;
    font-size: 16px;
}

.wishlist-page .card .card-body button {
    background-color: #663419;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 20px;
}


/* order-page */

h2.logo {
    color: #663419;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.order-wrp {
    display: flex;
    margin-top: 115px;
}

.order-left {
    background-color: #faf7f2;
    min-height: 100vh;
    width: 50%;
    padding-left: 65px;
    padding-top: 50px;
    padding-right: 65px;
}

.left-image-box {
    height: 100%;
}

.order-right {
    min-height: 100vh;
    width: 50%;
    padding-right: 65px;
    padding-top: 50px;
    background-color: #ede7d9;
    padding-left: 65px;
    border-left: 1px solid rgba(166, 162, 152, 0.34);
}

button.btn-light-outline {
    border: 1px solid #ede7da;
    color: #ede7da;
    letter-spacing: 1.5px;
    font-size: 16px;
    background-color: transparent;
    padding: 4px 20px;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
}

.order-form p {
    color: #323130;
    margin: 15px 0;
}

.product-bill-total ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

.product-bill-total ul li h2 {
    font-family: 'Vidaloka', serif;
    padding: 5px 0;
    margin: 5px 0;
    font-size: 18px;
}

.product-bill-total ul li h3 {
    font-size: 18px;
    font-weight: 500;
}

.product-bill-total ul li .product-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    margin: 5px 0;
    border-top: 1px solid rgba(166, 162, 152, 0.34);
    border-bottom: 1px solid rgba(166, 162, 152, 0.34);
    width: 100%;
}

.product-bill-total p {
    font-size: 14px;
    margin-bottom: 10px;
}

.terms label {
    font-size: 14px;
}

button.payment-btn {
    background-color: #663419;
    color: #fff;
    font-size: 16px;
    padding: 9px 17px;
    border: 1px solid transparent;
}

button.payment-btn:hover {
    border-color: #663419;
    background-color: transparent;
    color: #663419;
}

.payment-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.meet-our-team.home-page .team-title h1 {
    margin-bottom: 20px;
    color: #faf7f2;
}

.meet-our-team.home-page {
    background-color: #F0DFCB;
}

.collection-item h1 {
    font-size: 20px;
    margin: 10px 0;
    color: #663419;
}

.collection-image {
    max-height: 558px;
    max-width: 558px;
}

.collection-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.collection-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.collection-block .collection-item:nth-child(2n+3) {
    margin-bottom: 30px;
}

.card-right {
    margin-top: 100px;
}

.collection-item {
    margin-bottom: 60px;
}

.collection-title {
    text-align: center;
    margin: 20px 0;
    color: #663419;
    font-size: 48px;
    letter-spacing: 10px;
}

span.cart_count,
span.wishlist_count {
    height: 15px;
    width: 15px;
    border-radius: 100px;
    line-height: 15px;
    position: inherit;
    top: auto;
    bottom: 0;
    left: auto;
    right: -10px;
    font-size: 11px;
    background: #F0DFCB;
    color: #fff;
    text-align: center;
}

.tm-breadcrumb-area.tm-padding-section.bg-grey {
    margin-top: 115px;
}

.tm-cart-table {
    margin: 50px 0;
}

.tm-breadcrumb h2 {
    text-align: center;
    font-family: 'Vidaloka', serif;
    color: #202020;
    margin-bottom: 10px;
}

.tm-cart-table .table tr td a img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.tm-cart-table .table tr td input {
    border: 1px solid #202020;
    width: 80px;
    padding-left: 8px;
}

.tm-cart-table .table thead th {
    font-weight: 600;
}

.lr-section-section {
    margin-top: 115px;
}

form.tm-form h4 {
    font-family: 'Vidaloka', serif;
    color: #202020;
    margin-bottom: 10px;
    text-align: center;
}

form.tm-form p {
    text-align: center;
    margin-bottom: 50px;
}

.tm-form-inner .form-control {
    border: 1px solid rgba(11, 51, 31, .1);
    transition: all .35s ease;
    border-radius: 0;
}

.login-remember-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tm-form-inner .form-label {
    color: #202020;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-login,
.register-button {
    background-color: #663419;
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 16px;
    border: none;
    padding: 4px 20px;
    transition: all 0.2s ease-in-out;
    min-width: 220px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.forgot-pass,
.terms_conditions {
    font-size: 12px;
    text-transform: none;
    letter-spacing: .25px;
    font-weight: 300;
    text-decoration: underline;
    color: #202020;
}

.terms_conditions,
.register-terms {
    font-size: 16px;
    font-weight: 500;
}

.terms_conditions_box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.forgot-pass:hover {
    color: #663419;
}

.tm-form-sociallogin {
    text-align: center;
    margin-top: 30px;
}

.lr-section-section {
    margin-top: 115px;
    padding: 100px 0;
}

.single-product-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.single-product-bottom img {
    width: 48%;
    object-fit: cover;
}

.order-form {
    display: flex;
}

main.page-content {
    margin-top: 115px;
}

.navbar-expand-lg .navbar-collapse {
    width: fit-content;
}

/* sliding text header */
body {
	margin: 0;
}
.animate-contain {
	height: 27px;
	overflow: hidden;
	text-align: center;
}
.animated-text {
	display: inline-block;
	transition: 300ms all;
	margin-top: 0;
	animation: slide 4s infinite alternate ease-in-out;
	 
	color: #fff;
}
.animated-text span {
	display: block;
	font-size: 20px;
	padding:8px 5px;
    line-height: 1;
}
@keyframes slide{
	0%{margin-top:0;}
	20%{margin-top:0;}
	40%{margin-top:-40px;}
	60%{margin-top:-40px;}
	80%{margin-top:-90px;}
	100%{margin-top:-90px;}

}
.accordion.product-details {
    margin-top: 20px;
}

.product-details .accordion-item {
    border-radius: 0;
    border: none;
    border-top: 1px solid #c1c1c1;
}

.product-details .accordion-item button {
    padding: 10px;
}
.product-details .accordion-body ul {
    list-style: disc;
    padding-left: 35px;
}
.product-details .accordion-item:last-child{
    border-bottom: 1px solid #c1c1c1;
}
.product-details .accordion-body{
    padding: 10px;
}
.single-product-images {
    margin-bottom: 20px;
}
.product-details .accordion-body ul li {
    margin-bottom: 6px;
}
.owl-carousel.owl-carousel-mobile{
    display: none;
}

@media (max-width: 1399px) {}

@media (max-width: 1199px) {
    .collection-image {
        max-height: 300px;
        max-width: 300px;
    }
}

@media (max-width: 991px) {
    .hero-slider{
	margin-top: 97px;
    }
    .carousel-item {
        height: inherit;
    }
    main.page-content {
        margin-top: 62px;
    }
    .slider-title h3 {
        font-size: 28px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .control-products {
        margin-bottom: 10px;
    }
    .product-slider-wrp {
        padding: 50px 0 50px 65px;
    }
    .left-text-box {
        padding: 50px;
    }
    .order-wrp {
        margin-top: 62px;
    }
    .footer {
        padding: 50px 65px;
    }
    .header-top-main {
        background-color: #fff;
    }
    .header-top-main {
        padding: 10px 65px;
    }
    button.navbar-toggler.collapsed {
        border: none;
    }
    .top-area {
        padding: 0;
    }
    .header-top-main {
        padding: 0;
    }
    .product-slider-wrp {
        padding: 50px 0;
    }
    .nav-box {
        padding: 15px 0;
    }
    .navbar-collapse {
        position: fixed;
        top: 83px;
        left: 0;
        background-color: #fff;
        width: 100%;
        padding: 15px;
    }
    .nav-item {
        padding: 10px 0;
        margin: 0 15px;
    }
    a.navbar-brand {
        margin: 0;
	margin-right: -35px;
	font-size: 20px;
    }
    .top-area-right,
    .top-area-left {
        display: none;
    }
    .top-area-center {
        margin: 0 auto;
    }
    .product-filter-box {
        margin-left: 0;
    }
    .product-image img {
        max-height: 193px;
    }
    .about-page,
    .all-product-page {
        margin-top: 94px;
    }
    .member-image img {
        width: 100%;
    }
    section.product-benefits ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-details {
        margin: 50px 0;
        padding: 0 25px;
    }
    .meet-our-team,
    section.text-slider,
    .left-text-box,
    .footer,
    .right-text-box {
        padding: 50px 25px;
    }
    .about-details-left {
        padding: 0;
    }
    .cart-page {
        padding: 50px 25px;
    }
}

@media (max-width: 767px) {
    .footer-links {
        margin-bottom: 20px;
    }
    .carousel-item {
        height: inherit;
    }
    .product-filter-box {
        margin-bottom: 20px;
    }
    .product-image img {
        object-fit: contain;
    }
    .about-text {
        max-width: 340px;
        font-size: 28px;
    }
    .about-details-left h1,
    .team-title h1 {
        font-size: 28px;
    }
    .member-box {
        margin-bottom: 10px;
    }
    .wishlist-page .card {
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .order-form {
        display: block;
    }
    .order-left {
        width: 100%;
        padding-bottom: 50px;
    }
    .order-right {
        width: 100%;
        padding-bottom: 50px;
    }
    .card-right {
        margin-top: 60px;
    }
    .collection-title {
        font-size: 38px;
    }
    .single-product-images{
        display: none;
    }
    .owl-carousel.owl-carousel-mobile{
        display: block;
    }
}

@media (max-width: 575px) {
    .slider-text {
        text-align: center;
    }
    .owl-nav {
        text-align: center;
    }
    .owl-nav button span {
        margin-right: 0;
        padding: 0 10px;
    }
    section.text-slider .tab-pane {
        font-size: 27px;
        line-height: normal;
    }
    .slider-title {
        margin: 10px 0;
    }
    .right-icons ul li a {
        height: 22px;
        width: 22px;
    }
    .right-icons ul li a i {
        font-size: 18px;
    }
    .product-box .product-details {
        text-align: center;
    }
    .member-box {
        text-align: center;
        margin-bottom: 40px;
    }
    .cart-item {
        padding: 10px 25px;
    }
    .cart-item-info {
        margin-left: 10px;
    }
    .cart-product-left h4 {
        font-size: 14px;
    }
    .cart-product-count-price {
        margin-top: 0;
    }
    .cart-count input {
        width: 50px;
    }
    .cart-product-image-box {
        width: 75px;
        height: 75px;
    }
    .cart-price p {
        font-size: 14px;
    }
    .cart-count button {
        padding: 0;
        border: none;
    }
    .cart-product-close a {
        font-size: 16px;
    }
    .cart-total-left h6,
    .cart-total-right h6 {
        font-size: 16px
    }
    .cart-total-left p,
    .cart-total-right p,
    .place-order-button-box button {
        font-size: 14px;
    }
    .order-left,
    .order-right {
        padding: 50px 25px;
    }
    button.payment-btn {
        font-size: 13px;
        padding: 6px 9px;
    }
    .left-text-box h1,
    .right-text-box h1 {
        font-size: 28px;
    }
    .right-text-box p,
    .left-text-box p {
        font-size: 12px;
    }
    button.btn-light-outline,
    .btn-outline {
        font-size: 14px;
    }
    .nav-tabs {
        justify-content: center;
    }
    .card-right {
        margin-top: 0;
    }
}
