{% extends "edge_base.html" %} 
{% load static %}

{% block title %} Lepos London | My Orders {% endblock title %}

{% block body %}

<!-- Breadcrumb Area -->
<div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage={% static 'images/breadcrumb-bg.jpg' %}>
    <div class="container">
        <div class="tm-breadcrumb">
            <h2>My Orders</h2>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>My Orders</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->

<!-- Page Content -->
<main class="page-content">
    <!-- Shopping Cart Area -->
    <div class="tm-section shopping-cart-area bg-white tm-padding-section">
        <div class="container">
            <!-- Shopping Cart Table -->
            <div class="tm-cart-table table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th class="tm-cart-col-order_id" scope="col">Order Id</th>
                            <th class="tm-cart-col-image" scope="col">Image</th>
                            <th class="tm-cart-col-productname" scope="col">Product</th>
                            <th class="tm-cart-col-price" scope="col">Price</th>
                            <th class="tm-cart-col-quantity" scope="col">Quantity</th>
                            <th class="tm-cart-col-total" scope="col">Total</th>
                            <th class="tm-cart-col-date" scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in orderitem_data %}
                            <tr>
                                <td class="tm-cart-order_id">{{row.order.order_id}}</td>
                                <td>
                                    <a href="/media/{{row.product.image}}" class="tm-cart-productimage">
                                        <img src='/media/{{row.product.image}}'
                                            alt="product image">
                                    </a>
                                </td>
                                <td>
                                    <a href="/product/{{row.product.pk}}" class="tm-cart-productname">{{row.product.name}}</a>
                                </td>
                                <td class="tm-cart-price">&#x20b9;{{row.product.price}}</td>
                                <td>
                                    <div class="">
                                        <input type="number" class="prod_quantity" id="qty_{{row.pk}}" value="{{row.qty}}" min="1">
                                    </div>
                                </td>
                                <td>
                                    <span class="tm-cart-totalprice" id="stotal_{{ row.pk }}">&#x20b9;{% widthratio row.product.price 1 row.qty %}</span>
                                </td>
                                <td class="tm-cart-price">{{row.order.created_at}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--// Shopping Cart Table -->
        </div>
    </div>
</main>

{% endblock body %}