{% extends "edge_base.html" %}
{% load static %}
<style>
.alert.alert-error.alert-dismissible.fade.show {
    color: red;
    border: 1px solid red;
    background: #ff00002b;
    margin-top: 105px;
}

.alert.alert-success.alert-dismissible.fade.show {
    color: #0f5132 !important;
    border: 1px solid #67f5b3 !important;
    background: #67f5b3 !important;
    margin-top: 105px !important;
}

.alert.alert-info.alert-dismissible.fade.show {
    color: #0f5132;
    border: 1px solid #67f5b3;
    background: #67f5b3;
    margin-top: 105px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    float: right;
    border: red;
}
</style>
{% block title %} Lepos London | Home {% endblock title %}
{% block body %}
    {% comment %} {% include "message.html" %} {% endcomment %}

    <section class="hero-slider">
        <div class="container-fluid p-0">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% comment %} <div class="carousel-item active">
                        <img src="../static/assets/images/slide-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item active">
                        <img src="../static/assets/images/slide-2.jpg" class="d-block w-100" alt="...">
                    </div> {% endcomment %}
                {% for row in index_images.get_slider_images %}
                    <div class="carousel-item active">
                        <img src="media/{{row.slider_image}}" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section>
        <div class="product-slider-wrp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-slider-main-image">
                            <img src="{{sustainable_essentials.image.url}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 pe-0">
                        <div class="slider-title">
                            <h3>{{sustainable_essentials.title}}</h3>
                        </div>
                        <div class="control-products">
                            <a href="{% url 'products' %}">View All</a>
                        </div>
                        <div class="owl-carousel">
                        {% for row in last_products %}
                            <div class="owl-carousel-product">
                                <a href="/product/{{row.pk}}"><img src=/media/{{row.image}} alt="product image"></a>
                                <div class="slider-text">
                                    <a href="/product/{{row.pk}}">{{row.name}}</a>
                                    <span class="product-price">£ {{row.material_10_price}}</span>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="image-text">
        <div class="container-fluid">
            <div class="row box-row">
                <div class="col-md-6 p-0 order-md-1 order-sm-1">
                    <div class="left-image-box">
                        <video width="320" height="240" controls>
                            <source src="media/{{bespoke_jewellery.bespoke_video}}" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-md-6 p-0 order-md-2 order-sm-2">
                    <div class="right-text-box">
                        <h1>{{bespoke_jewellery.title}}</h1>
                        <h3>{{bespoke_jewellery.sub_title}}</h3>
                        <p class="left-sub-text">{{bespoke_jewellery.text1}}</p>
                        <p class="left-sub-text">{{bespoke_jewellery.text2}}</p>
                        <p class="left-sub-text">{{bespoke_jewellery.text3}}</p>
                        <a href="mailto:{{contact_data.email}}" class="btn-outline">Contact Us</a>
                    </div>
                </div>
                <div class="col-md-6 p-0 order-md-4 order-sm-3">
                    <div class="right-image-box">
                        <img src="media/{{future_section.image}}" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-6 p-0 order-md-3 order-sm-4">
                    <div class="left-text-box">
                        <h1>{{future_section.title}}</h1>
                        <p class="left-sub-text">{{future_section.sub_title}}</p>
                        <ul>
                            <li>
                                <p>> {{future_section.text1}}</p>
                            </li>
                            <li>
                                <p>> {{future_section.text2}}</p>
                            </li>
                            <li>
                                <p>> {{future_section.text3}}</p>
                            </li>
                        </ul>
                        <a href="{% url 'about' %}"><button class="btn-outline">READ OUR STORY</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-slider">
        <div class="container-fluid p-0">
            <h1 class="quots-icon">"</h1>
            <div class="text-box">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">{{qoute_data.title1}}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">{{qoute_data.title2}}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                            type="button" role="tab" aria-controls="contact" aria-selected="false">{{qoute_data.title3}}</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        {{qoute_data.text1}}
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        {{qoute_data.text2}}
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        {{qoute_data.text3}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %} <section>
        <div class="product-slider-wrp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-slider-main-image">
                            <img src="media/{{index_images.low_carbon_image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 pe-0">
                        <div class="slider-title">
                            <h3>Low-Carbon Luxury</h3>
                        </div>
                        <div class="control-products">
                            <a href="#">View All</a>

                        </div>
                        <div class="owl-carousel">
                        {% for row in first_products %}
                            <div class="owl-carousel-product">
                                <img src=/media/{{row.image}} alt="product image">
                                <div class="slider-text">
                                    <a href="/product/{{row.pk}}">{{row.name}}</a>
                                    <span class="product-price">£ {{row.material_10_price}}</span>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <section class="image-gallary">
        <div class="container-fluid">
            <h1 class="collection-title">COLLECTIONS</h1>
            <div class="collection-block">
                <div class="card-left">
                    <div class="collection-item">
                        <div class="collection-image">
                            <a href="{% url 'products' %}?category=Necklaces"><img src="media/{{index_images.necklace_image}}" alt=""></a>
                        </div>
                        <a href="{% url 'products' %}?category=Necklaces"><h1>NECKLACES</h1></a>
                    </div>
                    <div class="collection-item">
                        <div class="collection-image">
                            <a href="{% url 'products' %}?category=Bracelets"><img src="media/{{index_images.bracelet_image}}" alt=""></a>
                        </div>
                        <a href="{% url 'products' %}?category=Bracelets"><h1>BRACELETES</h1></a>
                    </div>
                    
                </div>
                <div class="card-right">
                    <div class="collection-item">
                        <div class="collection-image">
                            <a href="{% url 'products' %}?category=Earrings"><img src="media/{{index_images.earring_image}}" alt=""></a>
                        </div>
                        <a href="{% url 'products' %}?category=Earrings"><h1>EARRINGS</h1></a>
                    </div>
                    <div class="collection-item">
                        <div class="collection-image">
                            <a href="{% url 'products' %}?category=Rings"><img src="media/{{index_images.ring_image}}" alt=""></a>
                        </div>
                        <a href="{% url 'products' %}?category=Rings"><h1>RINGS</h1></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="meet-our-team home-page">
        <div class="container-fluid">
            <div class="team-title">
                <h1>{{website_users.title}}</h1>
            </div>
            <div class="team-members">
                <div class="row">
                    <div class="col-3">
                        <div class="member-box">
                            <div class="member-image">
                                <img src="{{website_users.image1.url}}" class="img-fluid" alt="">
                            </div>
                            <div class="team-member-details">
                                <h6>{{website_users.name1}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="member-box">
                            <div class="member-image">
                                <img src="{{website_users.image2.url}}" class="img-fluid" alt="">
                            </div>
                            <div class="team-member-details">
                                <h6>{{website_users.name2}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="member-box">
                            <div class="member-image">
                                <img src="{{website_users.image3.url}}" class="img-fluid" alt="">
                            </div>
                            <div class="team-member-details">
                                <h6>{{website_users.name3}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="member-box">
                            <div class="member-image">
                                <img src="{{website_users.image4.url}}" class="img-fluid" alt="">
                            </div>
                            <div class="team-member-details">
                                <h6>{{website_users.name4}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
{% block script %}
<script>
$(document).ready(function() {
    $("button.close").click(function() {
        $(".alert.alert-error.alert-dismissible.fade.show").hide();
        $(".alert.alert-success.alert-dismissible.fade.show").hide();
        $(".alert.alert-info.alert-dismissible.fade.show").hide();
    });
});
</script>
{% endblock script %}