{% extends "edge_base.html" %}
{% load static %}
{% block title %} Lepos London | Products {% endblock title %}
{% block css %}
<style>
.product-list-title{
    cursor: pointer !important;
}
</style>
{% endblock css %}
{% block body %}
    
    <section class="all-product-page">
        <div class="product-title">
            <h1>Engravable Jewellery</h1>
            <p class="product-sub-text">It really is all about you. Our collection of engravable pieces can be scribed
                to your heart's content. Go on, it's on us.</p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sort-by">
                        {% comment %} <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Sort By
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-filter-box">
                        <h3>Filter By</h3>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Product type
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {% for i in categories %}
                                            <div class="form-check">
                                                <input class="form-check-input flexCheckDefault" type="checkbox" value="" data="{{i}}">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    {{i}}
                                                </label>
                                            </div>
                                        {% endfor %}
                                        <div class="filter-control">
                                            <button class="btn-outline apply_btn">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Material
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                14
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                16
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                18
                                            </label>
                                        </div>
                                        <div class="filter-control">
                                            <button class="btn-outline apply_btn">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="product-list">
                        <div class="row filter_display">
                        {% for row in products %}
                            <div class="col-lg-4">
                                <div class="product-box">
                                    <div class="product-image">
                                        <a href="/product/{{row.pk}}"><img src="/media/{{row.image}}" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="product-details">
                                        <a href="/product/{{row.id}}" class="product-list-title">{{row.name}}</a>
                                        <span class="product-price">£ {% if product.material_10_price %}{{product.material_10_price}}{% elif product.material_14_price %}{{product.material_14_price}}{% else %}{{ product.material_18_price}}{% endif %}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(".apply_btn").click(function(event){
        var selectedvalue=[];
        $(".flexCheckDefault:checked").each(function(){
            selectedvalue.push($(this).attr("data"));
        });
        
        $.ajax({
            url: "/products/?filter="+selectedvalue,
            success: function(result) {
                const data = JSON.parse(result);
                console.log(data);
                $(".filter_display").empty()
                if(data.length != 0){
                    $(".filter_display").html(`
                        ${data.map((item,index)=>{
                            return `
                                <div class="col-lg-4">
                                    <div class="product-box">
                                        <div class="product-image">
                                            <a href="/product/${item.pk}">${item.fields.image ? `<img src="/media/${item.fields.image}" class="img-fluid" alt="">`:'None'}</a>
                                        </div>
                                        <div class="product-details">
                                            <a href="/product/${item.pk}" class="product-list-title">${item.fields.name}</a>
                                            <span class="product-price">£ ${item.fields.material_10_price}</span>
                                        </div>
                                    </div>
                                </div>`
                        }).join('')}
                    `)
                }
            }
        });
    })
</script>
{% endblock script %}