{% extends "edge_base.html" %}
{% load static %}
{% block title %} Lepos London | Home {% endblock title %}
{% block body %}
    {% include "message.html" %}

    <section class="hero-slider">
        <div class="container-fluid p-0">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% comment %} <div class="carousel-item active">
                        <img src="../static/assets/images/slide-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item active">
                        <img src="../static/assets/images/slide-2.jpg" class="d-block w-100" alt="...">
                    </div> {% endcomment %}
                {% for row in index_images.get_slider_images %}
                    <div class="carousel-item active">
                        <img src="media/{{row.slider_image}}" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section>
        <div class="product-slider-wrp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-slider-main-image">
                            <img src="media/{{index_images.sustainable_ssentials_image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 pe-0">
                        <div class="slider-title">
                            <h3>Sustainable Essentials</h3>
                        </div>
                        <div class="control-products">
                            <a href="{% url 'products' %}">View All</a>
                        </div>
                        <div class="owl-carousel">
                        {% for row in last_products %}
                            <div class="owl-carousel-product">
                                <a href="/product/{{row.pk}}"><img src=/media/{{row.image}} alt="product image"></a>
                                <div class="slider-text">
                                    <a href="/product/{{row.pk}}">{{row.name}}</a>
                                    <span class="product-price">£ {{row.metal_14_price}}</span>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="image-text">
        <div class="container-fluid">
            <div class="row box-row">
                <div class="col-md-6 p-0 order-md-1 order-sm-1">
                    <div class="left-image-box">
                        <video width="320" height="240" controls>
                            <source src="media/{{index_images.bespoke_video}}" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-md-6 p-0 order-md-2 order-sm-2">
                    <div class="right-text-box">
                        <h1>BESPOKE JEWELLERY - </h1>
                        <h3>CREATE YOUR OWN JEWELLERY  AT LEPOS LONDON</h3>
                        <p class="left-sub-text">If you require a bespoke piece, feel free to contact us.</p>
                        <p class="left-sub-text">We offer a bespoke jewellery making service with computer aided design  technology. This enables you to visualise your Jewellery. Once approved your piece of jewellery will be created in the precious metal of your choice.</p>
                        <p class="left-sub-text">We work in 10k 14k & 18k Yellow Gold , White Gold & Rose Gold . We work with all precious and semi-precious stones. </p>
                        <button class="btn-light-outline">Contact Us</button>
                    </div>
                </div>
                <div class="col-md-6 p-0 order-md-4 order-sm-3">
                    <div class="right-image-box">
                        <img src="media/{{index_images.future_image}}" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-6 p-0 order-md-3 order-sm-4">
                    <div class="left-text-box">
                        <h1>The Future of Fine Jewellery</h1>
                        <p class="left-sub-text">We are a luxury jewellery brand with a simple mission: to create
                            timeless, personal pieces
                            for your everyday.</p>
                        <ul>
                            <li>
                                <p>> SOLID GOLD JEWELLERY</p>
                            </li>
                            <li>
                                <p>> MOISSANITE DIAMOND JEWELLERY</p>
                            </li>
                            <li>
                                <p>> GEMSTONE JEWELLERY</p>
                            </li>
                        </ul>
                        <button class="btn-outline">READ OUR STORY</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-slider">
        <div class="container-fluid p-0">
            <h1 class="quots-icon">"</h1>
            <div class="text-box">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">{{qoute_data.title1}}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">{{qoute_data.title2}}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                            type="button" role="tab" aria-controls="contact" aria-selected="false">{{qoute_data.title3}}</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        {{qoute_data.text1}}
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        {{qoute_data.text2}}
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        {{qoute_data.text3}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %} <section>
        <div class="product-slider-wrp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-slider-main-image">
                            <img src="media/{{index_images.low_carbon_image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 pe-0">
                        <div class="slider-title">
                            <h3>Low-Carbon Luxury</h3>
                        </div>
                        <div class="control-products">
                            <a href="#">View All</a>

                        </div>
                        <div class="owl-carousel">
                        {% for row in first_products %}
                            <div class="owl-carousel-product">
                                <img src=/media/{{row.image}} alt="product image">
                                <div class="slider-text">
                                    <a href="/product/{{row.pk}}">{{row.name}}</a>
                                    <span class="product-price">£ {{row.metal_14_price}}</span>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <section class="image-gallary">
        <div class="container-fluid">
            <h1 class="collection-title">COLLECTIONS</h1>
            <div class="collection-block">
                <div class="card-left">
                    <div class="collection-item ">
                        <div class="collection-image">
                            <img src="media/{{index_images.necklace_image}}" alt="">
                        </div>
                        <a href="{% url 'products' %}?category=Necklace"><h1>NECKLACES</h1></a>
                    </div>
                    <div class="collection-item">
                        <div class="collection-image">
                            <img src="media/{{index_images.bracelet_image}}" alt="">
                        </div>
                        <a href="{% url 'products' %}?category=Bracelet"><h1>BRACELETES</h1></a>
                    </div>
                    
                </div>
                <div class="card-right">
                    <div class="collection-item">
                        <div class="collection-image">
                            <img src="media/{{index_images.earring_image}}" alt="">
                        </div>
                        <a href="{% url 'products' %}?category=Earring"><h1>EARRINGS</h1></a>
                    </div>
                    <div class="collection-item">
                        <div class="collection-image">
                            <img src="media/{{index_images.ring_image}}" alt="">
                        </div>
                        <a href="{% url 'products' %}?category=Ring"><h1>RINGS</h1></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="meet-our-team home-page">
        <div class="container-fluid">
            <div class="team-title">
                <h1>Who’s Wearing <br>Lepos London</h1>
                
            </div>
            <div class="team-members">
                <div class="row">
                {% for row in website_users %}
                    <div class="col-3">
                        <div class="member-box">
                            <div class="member-image">
                                <img src="media/{{row.image}}" class="img-fluid" alt="">
                            </div>
                            <div class="team-member-details">
                                <h6>{{row.name}}</h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
