{% extends "edge_base.html" %}
{% load static %}
{% block title %} Lepos London | Products {% endblock title %}
{% block css %}
<style>
</style>
{% endblock css %}
{% block body %}
    {% include "message.html" %}
    <section class="about-page">
        <img src="../static/assets/images/about.jpg" class="img-fluid" alt="">
        <div class="about-text">The future of fine jewellery in a conscious world</div>
    </section>
    <section class="about-details">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-details-left">
                        <h1>WELCOME TO Lepos London STORE</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quisnos trud exercitation ullamco
                            laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <P>- Lynette Ong, Founder</P>
                        <button class="btn-outline">
                            THE FULL STORY
                        </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-details-right">
                        <img src="/assets/images/lynette_ong_edge_of_ember_850x.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="meet-our-team">
        <div class="container-fluid">
            <div class="team-title">
                <h1>MEET OUR TEAM</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed aci erat dales vitakse dalesnon estin
                    vitae egestas.</p>
            </div>
            <div class="team-members">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="member-box">
                            <div class="member-image">
                                <img src="../static/assets/images/team-member-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="team-member-details">
                                <h6>Henry Todd</h6>
                                <p>Founder & CEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="member-box">
                            <div class="member-image">
                                <img src="../static/assets/images/team-member-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="team-member-details">
                                <h6>Henry Todd</h6>
                                <p>Founder & CEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="member-box">
                            <div class="member-image">
                                <img src="../static/assets/images/team-member-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="team-member-details">
                                <h6>Henry Todd</h6>
                                <p>Founder & CEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="member-box">
                            <div class="member-image">
                                <img src="../static/assets/images/team-member-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="team-member-details">
                                <h6>Henry Todd</h6>
                                <p>Founder & CEO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product-benefits">
        <div class="container-fluid">
            <ul>
                <li>
                    <div class="benefits-left">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <div class="benefits-right">
                        <h6>Free Shipping</h6>
                        <p>We provide free shipping for all order over £200.00</p>
                    </div>
                </li>
                <li>
                    <div class="benefits-left">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </div>
                    <div class="benefits-right">
                        <h6>Fast Delivery</h6>
                        <p>We always deliver our customers very quickly.</p>
                    </div>
                </li>
                <li>
                    <div class="benefits-left">
                        <i class="fa-solid fa-headset"></i>
                    </div>
                    <div class="benefits-right">
                        <h6>
                            24/7 Support</h6>
                        <p>We provide support to our customers within 24 hours.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
{% endblock body %}