{% extends "edge_base.html" %}
{% load static %}
{% block title %} Lepos London | Product {% endblock title %}
{% block css %}
<style>
video {
    width: 90%;
    height: auto;
}
</style>
{% endblock css %}
{% block body %}
    {% include "message.html" %}
    <section class="single-product">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                    <div class="single-product-images">
                        <div class="single-product-top">
                            <img src="/media/{{product.image}}" class="img-fluid" alt="">
                            <img src="/media/{{product.get_images.0.image}}" class="img-fluid" alt="">

                            {% comment %} <img src="./assets/images/model-silver-necklaces.jpg" class="img-fluid" alt=""> {% endcomment %}
                            {% comment %} {% if product.video %}
                            <a data-fancybox="tm-prodetails-imagegallery" href="/media/{{product.video}}" data-caption="Product Zoom Image 2">
                                <video max-width='10%' controls>
                                    <source src="/media/{{product.video}}" type='video/mp4'>
                                    Your browser does not support the video tag.
                                </video>
                            </a>
                            {% endif %} {% endcomment %}
                        </div>
                        {% comment %} <div class="single-product-top">
                            <img src="/media/{{product.image}}" class="img-fluid" alt="">
                            
                            {% if product.video %}
                            <a data-fancybox="tm-prodetails-imagegallery" href="/media/{{product.video}}" data-caption="Product Zoom Image 2">
                                <video max-width='10%' controls>
                                    <source src="/media/{{product.video}}" type='video/mp4'>
                                    Your browser does not support the video tag.
                                </video>
                            </a> 
                            {% endif %}
                        </div> {% endcomment %}
                        <div class="single-product-bottom"> 
                        {% for i in product.get_images %}
                        {% if forloop.counter > 1 %}
                            <img src="/media/{{i.image}}" class="img-fluid" alt="">
                        {% endif %}
                        {% endfor %}
                        </div> 
                    </div>
                    <div class="mobile-slider">
                        <div class="owl-carousel owl-carousel-mobile">
                            <div>
                                <img src="/media/{{product.image}}" class="img-fluid" alt="">
                            </div>
                            {% for i in product.get_images %}

                            <div>
                                    <img src="/media/{{i.image}}" class="img-fluid" alt="">
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="single-product-details">
                        <div class="single-product-top">
                            <div class="single-product-title">
                                <h1>{{product.name}}</h1>
                                {% comment %} <p>STERLING SILVER</p> {% endcomment %}
                            </div>
                            <div class="wishlist-icon">
                                <i onclick="myFunction(this.id)" id="{{product.pk}}" class="fa-regular fa-heart"></i>
                            </div>
                        </div>
                        <div>
                            <h6>{{product.sub_title}}</h6>

                        </div>
                        <div class="single-product-price">
                            <div>
                                 <h5>£</h5><h5 class="product_price">{{product.metal_14_price}}</h5>
                            </div>
                            <div class="product-rate">
                                <div class="rate-box">
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                    <a href="#"><i class="fa-regular fa-star"></i></a>
                                </div>
                                <a class="total-rate" href="#">35</a>
                            </div>
                        </div>
                        <div class="single-product-text">
                            <ul>
                                <li><span>Description  </span><p>{{product.product_description}}</p> </li>

                                {% comment %} <li><span>Category  </span><p>{{product.category}}</p> </li> {% endcomment %}
                                <li><span>Metal   </span>
                                <p>
                                <select class="form-select" aria-label="Default select example">
                                    <option id="price_option" selected>14</option>
                                    <option id="price_option" value="1">16</option>
                                    <option id="price_option" value="2">18</option>
                                </select>
                                </p> 
                                </li>
                                {% comment %} <li><span>Size    </span><p>{{product.size}} mm</p> </li> {% endcomment %}
                                <li><span>Quantity    </span><p>{{product.quantity}}</p> </li>
                                {% comment %} <li><span>Colour     </span><p>{{product.get_goldfilter.colour}}</p> </li>
                                <li><span>Purity      </span><p>{{product.get_goldfilter.purity}}</p> </li> {% endcomment %}
                                <li><span>Available       </span><p>{% if product.in_stock %}In Stock{% else %}Out of Stock{% endif %}</p> </li>
                            </ul>
                            <form action="" method="post">{% csrf_token %}
                                <input type="hidden" name="hidden_price" value="{{product.metal_14_price}}" class="hidden_price">
                                <input type="hidden" name="hidden_metal" value="14" class="hidden_metal">
                                {% if product.in_stock %}
                                <div class="bottom-add-to-cart">
                                    <div class="quantity-selector" data-number-selector="">
                                        <button class="minus_button" type="button" data-minus="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="1" fill="none" viewBox="0 0 12 1">
                                                <path fill="#202020" d="M0 0H12V1H0z"></path>
                                            </svg>
                                        </button>
                                        <input class="quantity_val" type="text" data-quantity="" data-input="" min="1" max="10" value="1" name="quantity">
                                        <button class="plus_button" type="button" data-plus="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 12 12">
                                                <path fill="#000" d="M6.4 0h-.847v5.6H0v.847h5.553V12H6.4V6.447H12V5.6H6.4V0z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <button type="submit" class="btn-outline">ADD TO BAG</button>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                        <div class="accordion product-details" id="accordionExample">
                            {% comment %} <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    DESCRIPTION
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <ul>
                                    <p>{{product.product_description}}</p>
                                  </ul>
                                </div>
                              </div>
                            </div> {% endcomment %}
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    FREE SHIPPING
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>All duties & taxes are included in the price. No additional fees due on arrival.</li>

                                        <li>Free UK shipping on orders £75 and above</li>

                                        <li>Free US shipping on orders over $125</li>

                                        <li>Click here for full shipping details.</li>
                                        {% comment %} <li>18K gold plated, recycled sterling silver</li>
                                        <li>18K gold plated, recycled sterling silver</li>
                                        <li>18K gold plated, recycled sterling silver</li> {% endcomment %}
                                    </ul>
                                </div>
                              </div>
                            </div>
                            {% comment %} <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    1 YEAR WARRANTY
                                </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>All products come with a full one-year warranty.</li>
                                    </ul>
                                </div>
                              </div>
                            </div> {% endcomment %}
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="product-slider-wrp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="product-slider-main-image">
                            <img src="{%  static 'assets/images/favourites-image.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 pe-0">
                        <div class="slider-title">
                            <h3>Sustainable Essentials</h3>
                        </div>
                        <div class="control-products">
                            <a href="#">View All</a>

                        </div>
                        <div class="owl-carousel">
                            {% for row in similar_prods %}
                                <div class="owl-carousel-product">
                                    <a href="/product/{{row.pk}}"><img src="/media/{{row.image}}" alt=""></a>
                                    <div class="slider-text">
                                        <a href="/product/{{row.pk}}">{{row.name}}</a>
                                        <span class="product-price">£ {{row.metal_14_price}}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product-benefits">
        <div class="container-fluid">
            <ul>
                <li>
                    <div class="benefits-left">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <div class="benefits-right">
                        <h6>Free Shipping</h6>
                        <p>We provide free shipping for all order over £200.00</p>
                    </div>
                </li>
                <li>
                    <div class="benefits-left">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </div>
                    <div class="benefits-right">
                        <h6>Fast Delivery</h6>
                        <p>We always deliver our customers very quickly.</p>
                    </div>
                </li>
                <li>
                    <div class="benefits-left">
                        <i class="fa-solid fa-headset"></i>
                    </div>
                    <div class="benefits-right">
                        <h6>
                            24/7 Support</h6>
                        <p>We provide support to our customers within 24 hours.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="image-text">
        <div class="container-fluid">
            <div class="row box-row">
                <div class="col-md-6 p-0 order-md-1 order-sm-1">
                    <div class="left-image-box">
                        <video width="320" height="240" controls>
                            <source src="{{index_images.bespoke_video.url}}" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-md-6 p-0 order-md-2 order-sm-2">
                    <div class="right-text-box">
                        <h1>BESPOKE JEWELLERY - </h1>
                        <h3>CREATE YOUR OWN JEWELLERY  AT LEPOS LONDON</h3>
                        <p class="left-sub-text">If you require a bespoke piece, feel free to contact us.</p>
                        <p class="left-sub-text">We offer a bespoke jewellery making service with computer aided design  technology. This enables you to visualise your Jewellery. Once approved your piece of jewellery will be created in the precious metal of your choice.</p>
                        <p class="left-sub-text">We work in 10k 14k & 18k Yellow Gold , White Gold & Rose Gold . We work with all precious and semi-precious stones. </p>
                        <button class="btn-light-outline">Contact Us</button>
                    </div>
                </div>
                {% comment %} <div class="col-md-6 p-0 order-md-4 order-sm-3">
                    <div class="right-image-box">
                        <img src="media/{{index_images.future_image}}" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-6 p-0 order-md-3 order-sm-4">
                    <div class="left-text-box">
                        <h1>The Future of Fine Jewellery</h1>
                        <p class="left-sub-text">We are a luxury jewellery brand with a simple mission: to create
                            timeless, personal pieces
                            for your everyday.</p>
                        <ul>
                            <li>
                                <p>> SOLID GOLD JEWELLERY</p>
                            </li>
                            <li>
                                <p>> MOISSANITE DIAMOND JEWELLERY</p>
                            </li>
                            <li>
                                <p>> GEMSTONE JEWELLERY</p>
                            </li>
                        </ul>
                        <button class="btn-outline">READ OUR STORY</button>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </section>
{% endblock body %}
{% block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'js/wishlist.js' %}"></script>
<script>
    {% comment %} price chnage dropdown {% endcomment %}
    $(function(){
        $(".form-select").change(function(){
            var status = $('option:selected', this).text();
            if(status==14) {
                $('.product_price').text({{product.metal_14_price}});
                $('input[type="hidden"][class="hidden_price"]').val({{product.metal_14_price}})
                $('input[type="hidden"][class="hidden_metal"]').val(14)

            }else if(status==16){
                $('.product_price').text({{product.metal_16_price}});
                $('input[type="hidden"][class="hidden_price"]').val({{product.metal_16_price}})
                $('input[type="hidden"][class="hidden_metal"]').val(16)
            }else{
                $('.product_price').text({{product.metal_18_price}});
                $('input[type="hidden"][class="hidden_price"]').val({{product.metal_18_price}})
                $('input[type="hidden"][class="hidden_metal"]').val(18)
            } 
        });
    });

    {% comment %} plus - minus quantity {% endcomment %}
    var res=1;
    $(".minus_button").click(function(){
        if(res>1){
            res = res - 1
            $('input[type="text"][class="quantity_val"]').val(res)
        }
    });
    $(".plus_button").click(function(){
        if(res<10){
            res = res + 1
            $('input[type="text"][class="quantity_val"]').val(res)
        }
    });

</script>
{% endblock script %}