{% extends "edge_base.html" %}
{% load static %}
{% block title %} Lepos London | Cart {% endblock title %}
{% block css %}
<style>
.alert.alert-error.alert-dismissible.fade.show {
    color: red;
    border: 1px solid red;
    background: #ff00002b;
    margin-top: 105px;
}

.alert.alert-success.alert-dismissible.fade.show {
    color: #0f5132;
    border: 1px solid #67f5b3;
    background: #67f5b3;
    margin-top: 105px;
}
.alert.alert-info.alert-dismissible.fade.show {
    color: #0f5132;
    border: 1px solid #67f5b3;
    background: #67f5b3;
    margin-top: 105px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    float: right;
    border: red;
}
</style>
{% endblock css %}
{% block body %}
    {% include "message.html" %}
    <!-- Page Content -->
    <main class="page-content">

        <!-- Login Register Area -->
        <div class="lr-section-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <form action="" class="tm-form tm-register-form" method="post">{% csrf_token %}
                            <h4>Create an account</h4>
                            <p>Welcome! Register for an account</p>
                            <div class="tm-form-inner">
                                <div class="mb-3">
                                    <label class="form-label" for="register-username">Username</label>
                                    <input class="form-control" type="text" id="register-username" name="username" required="required">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="register-email">Email address</label>
                                    <input class="form-control" type="email" id="register-email" name="email" required="required">
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">First name</label>
                                    <input name="first_name" type="" class="form-control" id="" placeholder="" aria-describedby="" value="{{user_data.first_name}}">
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Last name</label>
                                    <input name="last_name" type="" class="form-control" id="" placeholder="" aria-describedby="" value="{{user_data.last_name}}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="contact-no">Contact Number</label>
                                    <input class="form-control" type="text" id="contact-no" name="contact" required="required">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="register-password">Password</label>
                                    <input class="form-control" type="password" id="register-password" name="password" name="register-pass"
                                        required="required">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="register-password">Confirm Password</label>
                                    <input class="form-control" type="password" id="register-password" name="confirm_password" name="register-pass"
                                        required="required">
                                </div>
                                <div class="mb-3">
                                    {% comment %} <div>
                                        <input type="checkbox" id="register-pass-show" name="register-pass-show">
                                        <label for="register-pass-show">Show Password</label>
                                    </div> {% endcomment %}
                                    <div class="terms_conditions_box">
                                        <input type="checkbox" id="register-terms" name="register-terms">
                                        <label for="register-terms">I have read and agree to the website <a class="terms_conditions"
                                                href={% url 'terms_conditions' %}>terms and
                                                conditions</a></label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="register-button">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main> 

{% endblock body %}
{% block script %}
<script>
{% comment %} button.close
.alert.alert-error.alert-dismissible.fade.show {% endcomment %}

$(document).ready(function () {
    $("button.close").click(function () {
        $(".alert.alert-error.alert-dismissible.fade.show").hide();
        $(".alert.alert-info.alert-dismissible.fade.show").hide();
        $(".alert.alert-success.alert-dismissible.fade.show").hide();
        
    });
});
</script>
{% endblock script %}